.form_container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items:center;        
}


.form_container_1{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_o{        
        display:flex;
        align-items: center;
        justify-content: center;    
}

.container_img{
    width: 200px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.carousel{
    width: 100%;
    background-color: #EBEBEB;
}
.carousel-inner{
    border-radius: 10px;
}

.input_reg_form{
    margin-top: 15px;    
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.btn_reg_form{
    margin-top: 7px;
    background-color: #04AA6D;
    border: none;
    border-radius: 2px;
    color: white;

}

.href_login {    
    color: black;
    text-decoration: none;
}

.btns_register{
    display: flex;
    justify-content: center;    
}

.div_href_login{
    margin-top: 7px;
    margin-left: 3px;
}
.div_href_login2{
    margin-top: 7px;
    margin-left: 3px;
    align-items: center;
    justify-content: center; 
    display: flex;
}

.topnav_register{
    margin-top: 20px;
    justify-content: center;
    display:flex;
}
.container_button{
    display: flex;
}

.container_info{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 10px;
}

.container_info button{
    border: none;
    background-color: #EBEBEB;
}

.especial{
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: solid 1px;
    border-color: black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}
.container_login-padre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_logo img{
    margin-top: 50px;
    width: 150px;
    height: 150px;
}
.container_login{
    height: 400px;
    width: 500px;
    background-color: rgba(39, 157, 46, 0.8);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.container_info2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container_info2 a{
    padding: 2.5%;
    text-align: center;
    cursor: pointer;
    background-color: white;
    width: 300px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    color: black;
}

.loged{
    width: 1300px !important; 
    margin-bottom: 10px;
    transform:translateY(-400px);
    visibility: hidden;
}

.loged img{
    width: 250px;
    height: 250px;
    margin-left: 25px;
}

.loged a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 23px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
}

.register_select{
    margin-top: 4px;
    width: 270px;    
}

.question_input {
    margin-top: 9px;
    display: none;
}

.back_button{
    width: auto;
}
.my_cards{
    position:sticky;
    display: flex;
    justify-content:center;
    align-items:center;
    top: 100px;
    font-size:x-large;
}
.debit_card{
    
    justify-content: center;
    align-items: center;
    margin-left:160px ;
}
.monto{
    font-size:x-large;
    font-style:inherit;
    color: #04AA6D;
    margin-bottom: 10px;
    margin-left:160px;
}
.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    font-style: normal;
    color:#04AA6D;
}

.input_reg_form .register_select{
    height: 29px;
}

.container-profile{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.container_user-profile{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.container-info-profile{
    padding: 30px;
    border-radius: 5px;
    background-color: #EBEBEB;
    -webkit-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.22);
    box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.22);
}

.container-interact-profile a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: #04AA6D;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.container-info_cards{
    display: flex;
    
}

.container-info_transaction{
    display: flex;
    justify-content: center;
    background-color: #04AA6D;
    -webkit-box-shadow: 0px 0px 43px 18px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 43px 18px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 43px 18px rgba(0,0,0,0.31);
    margin-top: 50px;
    padding: 10px;
}

.container-info_transaction a{
    color: white;
    text-decoration: none;
    cursor:unset;
   margin-right: 5px;
   margin-left: 60px;
   font-size: 20px;
   font-weight: bold;
}

.container-trans{
    background-color: #018C59;
    padding: 15px;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    border-bottom: solid #007A46;
}

.noTransactions{
    padding: 15px;
    color: white;
    margin-top: 5px;
    text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.texto{
    font-size:larger;
    color:#557a00;
}
.container_nombreapellido{
    display: flex;
    flex-direction: row;
}
.container_alias{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-content: center;
}
.msj_error {
    font-size: 14px;
    color: red;
}

.container--loans {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.loan_amount_div,
.loans_select_div,
.loan_password_div,
.loan_simulation_btn_div{
    display: flex;
    flex-direction: column;

    margin-top: 15px;
}

.input_reg_form label{
    font-size: 13px
}

.loans_select {
    width: 100%;
    height: 29.63px;
}

.loan_simulation_btn_div{    
    display: flex;    
    align-items: center;
    justify-content: center;
}

.input_reg_form button{
    background-color: #04AA6D;
    color: white;
    border: none;

    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 80%;
    height: 29.63px;    
}

.loan_sheet_div{
    margin-top: 30px;    
    display: flex;
    flex-direction: column;

    width: 100%;
    justify-content: center;
    align-items: center;    
}

.loan_sheet_div table, th, td{
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
}

.loans_form {
    width: 25%;
}

.loan_sheet_div table { 
      width: 50%;
}

#atras{
    margin-top: 25px;
    margin-left: 150px;
}