.form_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    background-color: #EBEBEB;
    width: 100%;
    height: 500px;
}
.container-header img{
    width: 200px;
    height: 100px;
}

.carousel-inner{
    border-radius: 10px;
}

