/* Empieza tarjeta de devito */

@import url('https://fonts.googleapis.com/css2?family=josefin+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container {

    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    width: 500px;
    height: 300px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
    
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #096E82, #47991A);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.top_imgs{
    width: 70px;
}

.card-no {
    font-size: 35px;
    margin-top: 60px;
}

.card-holder {
    font-size: 12px;
    margin-top: 40px;
}

.name {
    font-size: 22px;
    margin-top: 20px;
}

.bar {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}

.card-cvv {
    margin-top: 20px;
}

.card-cvv div {
    flex: 1;
}

.card-cvv img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv p {
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 10px 20px;
}

.card-text {
    margin-top: 30px;
    font-size: 14px;
}

.signature {
    margin-top: 30px;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(-180deg);
}

/* Termina tarjeta de devito */

.container_img{
    width: 200px;
    margin-top: 40px;
}

.container_info{
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 10px;
    margin-top: 40px;
}

.especial{
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: solid 1px;
    border-color: black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

.container_header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_info button{
    border: none;
    padding: 10px;
    background-color: white;
    font-size: 16px;
}

.container_info a{
    text-decoration: none;
    color: black;
}

.container_button{
    display: flex;
}

.opciones{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.monto{
    margin-top: 20px;
}

.transButton {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(39, 157, 46, 0.8);
    padding: 5px;
    margin-right: 10px;
    color: white;
    
}

.transButton a{
    color: white;
    text-decoration: none;
}